{% macro picture(img)%}
<div class="flex justify-center border bg-white border-gray-100 rounded-xl hover:shadow-xl transition duration-300">
    <img class="h-20 m-1" src="pictures/{{ img }}.svg" alt="{{ img }}" />
</div>
{% endmacro %}